<div class="container-fluid" id="container">

  <div class="row justify-content-center align-items-center" id="row">

    <div class="col-lg-12" id="col">
      <div class="row align-items-center justify-content-around" id="webCamRow">

        <div>
        <div id="peerWrapper" class="text-center">
          </div>
          <div class="col-lg-2 text-center" id="webCamCol1"></div>
        </div>


        <div>
        <div id="myWrapper"  class="text-center">
          </div>
          <div class="col-lg-2 text-center" id="webCamCol2"></div>
        </div>


      </div>
      <button (click)="nextPage()">go to login</button>
      <button (click)="readyToBattle()">ready to battle</button>

    </div>
  </div>



</div>
